@model Entities.Param.AdvertisingParam
@using Entities.Entities
@using Utilities
@{
                /**/

                ViewBag.Title = "";
                ViewBag.Description = "";
}
<script src="~/Scripts/Admin/inputmask.js"></script>
<script src="~/Scripts/Admin/jquery.inputmask.js"></script>
<script src="~/Scripts/Admin/form-mask.js"></script>
<script src="~/Scripts/Admin/createInit.js"></script>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thông tin</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("Create", "Advertising", FormMethod.Post, new { @class = "form-horizontal", @data_parsley_type = "", id = "frCreate", @role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Advertising.Id)
            @Html.HiddenFor(x => x.Advertising.Created)
            @Html.HiddenFor(x => x.Advertising.CreatedBy)

        <div class="modal-body p-b-0">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Vị trí quảng cáo</label>
                <div class="col-sm-10 ">
                    @Html.DropDownListFor(x => x.Advertising.PositionId, (ViewBag.Positions as IEnumerable<AdsPositionEntity>).Select(n => new SelectListItem { Selected = n.Id == Model.Advertising.Id, Text = n.Name, Value = n.Id.ToString() }), new { @class = "col-xs-12 col-sm-12 form-control", @placeholder = "", @Required = "Required", init_select2 = "true", data_selected = Model.Advertising.PositionId, data_placeholder = "Chọn vị trí" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tên</label>
                <div class="col-sm-10 "> @Html.TextBoxFor(x => x.Advertising.Name, new { @class = "col-xs-12 col-sm-12 form-control", @placeholder = "" }) </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Link kèm</label>
                <div class="col-sm-10 "> @Html.TextBoxFor(x => x.Advertising.Url, new { @class = "col-xs-12 col-sm-12 form-control", @placeholder = "" }) </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mô tả</label>
                <div class="col-sm-10 "> @Html.TextBoxFor(x => x.Advertising.Description, new { @class = "col-xs-12 col-sm-12 form-control", @placeholder = "" }) </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ảnh</label>
                <div class="col-sm-10">
                    <input type="file" id="AvatarInput" name="AvatarInput" class="actFile form-control" />
                    @if (!string.IsNullOrEmpty(Model.Advertising.Avatar))
                    {
                        <img src="@Model.Advertising.Avatar.ChangeThumbSize(100,100)" />
                    }
                    @Html.HiddenFor(x => x.Advertising.Avatar)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Order</label>
                <div class="col-sm-10 "> @Html.TextBoxFor(x => x.Advertising.Order, new { @class = "col-xs-12 col-sm-12 form-control autonumber int", @placeholder = "" }) </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Trạng thái</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.Advertising.Status, ViewBag.Status as IEnumerable
                    <SelectListItem>
                    , new { @class = "form-control", @placeholder = "", init_select2 = "true", data_selected = Model.Advertising.Status, data_placeholder = "Chọn trạng thái" })
                </div>
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" onclick="sendCreateFormData('@Url.Action("Create", "Advertising")')" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
            </div>
        }
    </div>
</div>
