@using BO;
@using Entities;
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hệ thống quản trị</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="~/Content/Admin/font-open-sans.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/amchart.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/color-1.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/component.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/icofont.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/notification.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/select2.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/Popubcss.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/style_main.css">
</head>

<body class="menu-static">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div></div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <!-- Menu header start -->
    <nav class="navbar header-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-logo">
                <a class="mobile-menu" id="mobile-collapse" href="javascript:;">
                    <i class="ti-menu"></i>
                </a>
                @*<a class="mobile-search morphsearch-search" href="#">
                        <i class="ti-search"></i>
                    </a>*@
                <a href="/admin">
                    <img class="img-fluid" src="~/Image/Admin/logo.png" alt="Theme-Logo" />
                </a>
                <a class="mobile-options">
                    <i class="ti-more"></i>
                </a>
            </div>
            <div class="navbar-container container-fluid">
                <div>
                    <ul class="nav-left">
                        <li>
                            <a id="collapse-menu" href="#">
                                <i class="ti-menu"></i>
                            </a>
                        </li>
                        @*<li>
                                <a class="main-search morphsearch-search" href="#">
                                    <i class="ti-search"></i>
                                </a>
                            </li>*@
                        <li>
                            <a href="javascript:;" onclick="javascript:toggleFullScreen()">
                                <i class="ti-fullscreen"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        @*<li class="header-notification lng-dropdown">
                                <a href="#" id="dropdown-active-item">
                                    <i class="flag-icon flag-icon-gb m-r-5"></i> English
                                </a>
                                <ul class="show-notification">
                                    <li>
                                        <a href="#" data-lng="en">
                                            <i class="flag-icon flag-icon-gb m-r-5"></i> English
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-lng="es">
                                            <i class="flag-icon flag-icon-es m-r-5"></i> Spanish
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-lng="pt">
                                            <i class="flag-icon flag-icon-pt m-r-5"></i> Portuguese
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-lng="fr">
                                            <i class="flag-icon flag-icon-fr m-r-5"></i> French
                                        </a>
                                    </li>
                                </ul>
                            </li>*@
                        @*<li class="header-notification">
                            <a href="javascript:;">
                                <i class="ti-bell"></i>
                                <span class="badge">5</span>
                            </a>
                            <ul class="show-notification">
                                <li>
                                    <h6>Thông báo đơn đặt hàng</h6>
                                    <label class="label label-danger">Mới</label>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="d-flex align-self-center" src="~/Image/Admin/user.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">John Doe</h5>
                                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="d-flex align-self-center" src="~/Image/Admin/user.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Joseph William</h5>
                                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="d-flex align-self-center" src="~/Image/Admin/user.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Sara Soudein</h5>
                                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>*@
                        @*<li class="header-notification">
                                <a href="javascript:;" class="displayChatbox">
                                    <i class="ti-comments"></i>
                                    <span class="badge">9</span>
                                </a>
                            </li>*@
                        <li class="user-profile header-notification">
                            <a href="javascript:;">
                                <img src="~/Image/Admin/user.png" alt="User-Profile-Image">
                                <span>@Context.User.Identity.Name</span>
                                <i class="ti-angle-down"></i>
                            </a>
                            <ul class="show-notification profile-notification">
                                @*<li>
                                    <a href="javascript:;">
                                        <i class="ti-settings"></i> Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="user-profile.html">
                                        <i class="ti-user"></i> Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="email-inbox.html">
                                        <i class="ti-email"></i> My Messages
                                    </a>
                                </li>
                                <li>
                                    <a href="auth-lock-screen.html">
                                        <i class="ti-lock"></i> Lock Screen
                                    </a>
                                </li>*@
                                <li>
                                    <a href="javascript:;" onclick="CmsFunc.LogOut('@Url.Action("LogOff","Account")')">
                                        <i class="ti-layout-sidebar-left"></i> Thoát
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- search -->
                    <!-- search end -->
                </div>
            </div>
        </div>
    </nav>
    <!-- Menu header end -->
    <!-- Menu aside start -->
    <div class="main-menu">
        <div class="main-menu-header">
            <img class="img-40" src="~/Image/Admin/user.png" alt="User-Profile-Image">
            <div class="user-details">
                <span>@Context.User.Identity.Name</span>
                @*<span id="more-details">UX Designer<i class="ti-angle-down"></i></span>*@
            </div>
        </div>
        <div class="main-menu-content">
            <ul class="main-navigation">
                <li class="more-details">
                    <a href="user-profile.html"><i class="ti-user"></i>View Profile</a>
                    <a href="javascript:;"><i class="ti-settings"></i>Settings</a>
                    <a href="javascript:;"><i class="ti-layout-sidebar-left"></i>Logout</a>
                </li>
                <li class="nav-title" data-i18n="nav.category.navigation">
                    <i class="ti-line-dashed"></i>
                    <span>Module Hệ thống</span>
                </li>
                @*<li class="nav-item has-class">
                        <a href="/admin">
                            <i class="ti-home"></i>
                            <span data-i18n="nav.dash.main">Dashboard</span>
                        </a>
                        <ul class="tree-1 has-class">
                            <li class="has-class">
                                <a href="index.html" data-i18n="nav.dash.default"> Default </a>
                            </li>
                            <li>
                            <li><a href="dashboard-ecommerce.html" data-i18n="nav.dash.ecommerce"> Ecommerce</a></li>
                            <li><a href="dashboard-crm.html" data-i18n="nav.dash.crm">CRM</a></li>
                            <li>
                                <a href="dashboard-analytics.html" data-i18n="nav.dash.analytics">Analytics</a>
                                <label class="label label-info menu-caption">NEW</label>
                            </li>
                            <li>
                                <a href="dashboard-project.html" data-i18n="nav.dash.project">Project</a>
                            </li>
                        </ul>
                    </li>*@
                <li class="nav-item single-item">
                    <a href="/admin">
                        <i class="ti-home"></i>
                        <span data-i18n="nav.foo-table.main"> DashBoard</span>
                    </a>
                </li>
                <li class="nav-item single-item">
                    <a href="@Url.Action("Index","SysMenu")">
                        <i class="ti-menu"></i>
                        <span data-i18n="nav.foo-table.main"> Quản lý Menu Hệ thống</span>
                    </a>
                </li>
                <li class="nav-title" data-i18n="nav.category.ui-element">
                    <i class="ti-line-dashed"></i>
                    <span>Module mở rộng</span>
                </li>
                @{
                    var SysMenuBo = new SysMenuBo();
                    var SysMenuParam = new Entities.Param.SysMenuParam();
                    SysMenuParam.SysMenuFilter = new Entities.Filter.SysMenuFilter() { Status = (int)Utilities.Constants.RecordStatus.Published };
                    SysMenuBo.Search(SysMenuParam);
                    if (SysMenuParam.SysMenuEntitys != null && SysMenuParam.SysMenuEntitys.Any())
                    {
                        foreach (var item in SysMenuParam.SysMenuEntitys)
                        {
                            <li class="nav-item single-item">
                                <a href="@Url.Action("Index",@item.Controller) ">
                                    <i class="@item.Icon"></i>
                                    <span data-i18n="nav.foo-table.main"> @item.Name</span>
                                </a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <!-- Menu aside end -->
    <!-- Sidebar chat start -->
    <div id="sidebar" class="users p-chat-user showChat">
        <div class="had-container">
            <div class="card card_main p-fixed users-main">
                <div class="user-box">
                    <div class="card-block">
                        <div class="right-icon-control">
                            <input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends">
                            <div class="form-icon">
                                <i class="icofont icofont-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="main-friend-list">
                        <div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Josephin Doe</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe" data-toggle="tooltip" data-placement="left" title="Lary Doe">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/task/task-u1.jpg" alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Lary Doe</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="3" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Alice</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="4" data-status="online" data-username="Alia" data-toggle="tooltip" data-placement="left" title="Alia">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/task/task-u2.jpg" alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Alia</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="5" data-status="online" data-username="Suzen" data-toggle="tooltip" data-placement="left" title="Suzen">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/task/task-u3.jpg" alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Suzen</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="6" data-status="offline" data-username="Michael Scofield" data-toggle="tooltip" data-placement="left" title="Michael Scofield">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                                <div class="live-status bg-danger"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Michael Scofield</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="7" data-status="online" data-username="Irina Shayk" data-toggle="tooltip" data-placement="left" title="Irina Shayk">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/avatar-4.png" alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Irina Shayk</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="8" data-status="offline" data-username="Sara Tancredi" data-toggle="tooltip" data-placement="left" title="Sara Tancredi">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/avatar-5.png" alt="Generic placeholder image">
                                <div class="live-status bg-danger"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Sara Tancredi</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="9" data-status="online" data-username="Samon" data-toggle="tooltip" data-placement="left" title="Samon">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Samon</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="10" data-status="online" data-username="Daizy Mendize" data-toggle="tooltip" data-placement="left" title="Daizy Mendize">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/task/task-u3.jpg" alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Daizy Mendize</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="11" data-status="offline" data-username="Loren Scofield" data-toggle="tooltip" data-placement="left" title="Loren Scofield">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                                <div class="live-status bg-danger"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Loren Scofield</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="12" data-status="online" data-username="Shayk" data-toggle="tooltip" data-placement="left" title="Shayk">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/avatar-4.png" alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Shayk</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="13" data-status="offline" data-username="Sara" data-toggle="tooltip" data-placement="left" title="Sara">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/task/task-u3.jpg" alt="Generic placeholder image">
                                <div class="live-status bg-danger"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Sara</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="14" data-status="online" data-username="Doe" data-toggle="tooltip" data-placement="left" title="Doe">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Doe</div>
                            </div>
                        </div>
                        <div class="media userlist-box" data-id="15" data-status="online" data-username="Lary" data-toggle="tooltip" data-placement="left" title="Lary">
                            <a class="media-left" href="javascript:;">
                                <img class="media-object img-circle" src="assets/images/task/task-u1.jpg" alt="Generic placeholder image">
                                <div class="live-status bg-success"></div>
                            </a>
                            <div class="media-body">
                                <div class="f-13 chat-header">Lary</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar inner chat start-->
    <div class="showChat_inner">
        <div class="media chat-inner-header">
            <a class="back_chatBox">
                <i class="icofont icofont-rounded-left"></i> Josephin Doe
            </a>
        </div>
        <div class="media chat-messages">
            <a class="media-left photo-table" href="javascript:;">
                <img class="media-object img-circle m-t-5" src="assets/images/avatar-1.png" alt="Generic placeholder image">
            </a>
            <div class="media-body chat-menu-content">
                <div class="">
                    <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                    <p class="chat-time">8:20 a.m.</p>
                </div>
            </div>
        </div>
        <div class="media chat-messages">
            <div class="media-body chat-menu-reply">
                <div class="">
                    <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                    <p class="chat-time">8:20 a.m.</p>
                </div>
            </div>
            <div class="media-right photo-table">
                <a href="javascript:;">
                    <img class="media-object img-circle m-t-5" src="assets/images/avatar-2.png" alt="Generic placeholder image">
                </a>
            </div>
        </div>
        <div class="chat-reply-box p-b-20">
            <div class="right-icon-control">
                <input type="text" class="form-control search-text" placeholder="Share Your Thoughts">
                <div class="form-icon">
                    <i class="icofont icofont-paper-plane"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar inner chat end-->
    <!-- Main-body start-->
    <div class="main-body">
        @RenderBody()
    </div>

    <div id="ModalLoading" style="display: none" class="bbpopub">
        <div class="loader animation-start">
            <span class="circle delay-1 size-2"></span>
            <span class="circle delay-2 size-4"></span>
            <span class="circle delay-3 size-6"></span>
            <span class="circle delay-4 size-7"></span>
            <span class="circle delay-5 size-7"></span>
            <span class="circle delay-6 size-6"></span>
            <span class="circle delay-7 size-4"></span>
            <span class="circle delay-8 size-2"></span>
        </div>
    </div>
    <!-- Sign in modal start -->
    <div class="modal fade" id="CreateModal" tabindex="-1">

    </div>
    <script>
        _decimalSeperator = "@(0.1.ToString().Substring(1, 1))";
        _groupSeperator = _decimalSeperator == '.' ? ',' : '.';
    </script>

    <script src="~/Scripts/Admin/jquery.min.js"></script>
    <script src="~/Scripts/Admin/jquery.validate.min.js"></script>
    <script src="~/Scripts/Admin/tether.min.js"></script>
    <script src="~/Scripts/Admin/bootstrap.min.js"></script>
    <script src="~/Scripts/Admin/classie.js"></script>
    <script src="~/Scripts/Admin/modernizr.js"></script>
    <script src="~/Scripts/Admin/css-scrollbars.js"></script>
    <script src="~/Scripts/Admin/d3.min.js"></script>
    <script src="~/Scripts/Admin/i18next.min.js"></script>
    <script src="~/Scripts/Admin/i18nextBrowserLanguageDetector.min.js"></script>
    <script src="~/Scripts/Admin/jquery-i18next.min.js"></script>
    <script src="~/Scripts/Admin/i18nextXHRBackend.min.js"></script>
    <script src="~/Scripts/Admin/jquery-ui.min.js"></script>
    <script src="~/Scripts/Admin/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/Admin/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Admin/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/Admin/jszip.min.js"></script>
    <script src="~/Scripts/Admin/pdfmake.min.js"></script>
    <script src="~/Scripts/Admin/vfs_fonts.js"></script>
    <script src="~/Scripts/Admin/buttons.print.min.js"></script>
    <script src="~/Scripts/Admin/buttons.html5.min.js"></script>
    <script src="~/Scripts/Admin/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/Admin/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/Admin/responsive.bootstrap4.min.js"></script>
    <script src="~/Scripts/Admin/morris.min.js"></script>
    <script src="~/Scripts/Admin/raphael.min.js"></script>
    <script src="~/Scripts/Admin/rickshaw.min.js"></script>
    <script src="~/Scripts/Admin/bootstrap-growl.min.js"></script>
    <script src="~/Scripts/Admin/notification.js"></script>
    <script src="~/Scripts/Admin/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/Admin/ckeditor/config.js"></script>
    <script src="~/Scripts/Admin/autoNumeric.js"></script>
    <script src="~/Scripts/Admin/jquery.bpopup.min.js"></script>
    <script src="~/Scripts/Admin/moment.js"></script>
    <script src="~/Scripts/Admin/CustomFormData.js"></script>
    <script src="~/Scripts/Admin/select2.min.js"></script>
    <script src="~/Scripts/Admin/main.js"></script>
    <script src="~/Scripts/Admin/script.js"></script>
    <script src="~/Scripts/Admin/admin.js"></script>
    <script>
        loadJs('@Utilities.Config.DOMAIN/Scripts/livechat-embbed.js', function () {
            LiveChatInit('@Utilities.Config.DOMAIN');
        });
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>
