@using Utilities
@{
    ViewBag.Title = "Chức năng";
    ViewBag.Description = "Danh sách chức năng";
}
<div class="page-wrapper">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-header-title">
            <h4>Quản lý vị trí quảng cáo</h4>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","DashBoard")">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","AdsPosition")">Danh sách</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Page-header end -->
    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <!-- Ajax data source (Arrays) table start -->
                <div class="card">
                    <div class="card-header">
                        <div class="mt-1">
                            <div class="btn-group " onclick="showModal('@Url.Action("Create", "AdsPosition")')" role="group" data-toggle="tooltip" data-placement="top" title="Thêm mới" data-original-title=".btn-xlg"> <button type="button" class="btn btn-primary waves-effect waves-light"><i class="ti-plus"></i> Thêm mới</button> </div>
                            <div class="btn-group " role="group" data-toggle="tooltip" data-placement="top" title="Quản lý quảng cáo" data-original-title=".btn-xlg"> <a href="@Url.Action("Index", "Advertising")" class="btn btn-primary waves-effect waves-light">Quản lý quảng cáo</a> </div>
                        </div>
                        <div class="mt-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-dropdown">
                                        <div class="input-group-btn" id="ddl-custom">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Trạng thái
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" onclick="dropOnChange(this)" data-value="" href="javascript:;">Tất cả</a>
                                                @foreach (var item in Utils.GetStatusList())
                                                {
                                                    <a class="dropdown-item" onclick="dropOnChange(this)" data-value="@item.Value" href="javascript:;">@item.Text</a>
                                                }
                                            </div>
                                        </div>
                                        @Html.TextBox("keysearch", "", new { @class = "form-control", @placeholder = "Nhập từ khóa cần tìm ..." })
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-inverse" onclick="onSearch()">
                                                Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header-right">
                            <i class="icofont icofont-rounded-down"></i>
                            <i class="icofont icofont-refresh"></i>
                            <i class="icofont icofont-close-circled"></i>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive dt-responsive">
                            <table id="dt-ajax-array" class="table table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Vị trí</th>
                                        <th>Tên vị trí</th>
                                        <th>Trạng thái</th>
                                        <th>Sửa/Xóa</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Vị trí</th>
                                        <th>Tên vị trí</th>
                                        <th>Trạng thái</th>
                                        <th>Sửa/Xóa</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Ajax data source (Arrays) table end -->
            </div>
        </div>
    </div>
    <!-- Page-body end -->
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var oTable = $("#dt-ajax-array").dataTable({
                "bStateSave": false,
                "searching": false,
                "bSort": false,
                "sPaginationType": "full_numbers",
                "serverSide": true,
                "sServerMethod": "POST",
                "sAjaxSource": "@Url.Action("AjaxLoadList", "AdsPosition")",
                "iDisplayLength": 50,
                "order": [[1, "asc"]],
                "lengthChange": false,
                "fnServerParams": function (aoData) {
                    aoData.push(
                        { "name": "keysearch", "value": $("#keysearch").val() },
                        { "name": "status", "value": $("#ddl-custom").find("button").attr("data-status") }
                    );
                },
                "columnDefs": [
                    { "width": "70px", "targets": 4 }
                ],
                "aoColumns": [
                    { "mData": "Id" },
                    { "mData": "Name" },
                    { "mData": "PositionName" },
                    {
                        "mData": "Status",
                        "mRender": function (data, type, row) {
                            return CmsFunc.getConstantDisplay('RecordStatus', data);
                        }
                    },
                    {
                        "mData": function (data, type, row) {
                            var btnEdit = "<div class='btn-group ' onclick=\"showModal('" + "@Url.Action("Create", "AdsPosition")" + "/" + data.Id + "')\" role='group' data-toggle='tooltip' data-placement='top' title='Sửa' data-original-title='.btn-xlg'> <button type='button' class='btn btn-primary btn-sm waves-effect waves-light'><i class='ti-pencil-alt'></i></button> </div>";
                            var btnDelete = "<div class='btn-group ' onclick=\"showModal('" + "@Url.Action("Delete", "AdsPosition")" + "/" + data.Id + "')\" role='group' data-toggle='tooltip' data-placement='top' title='Xóa' data-original-title='.btn-xlg'> <button type='button' class='btn btn-danger btn-sm waves-effect waves-light'><i class='ti-trash'></i></button> </div>"
                            return btnEdit + btnDelete;
                        }
                    }
                ],
                "oLanguage": Resource.DataTableVnLang,
            });
        });
    </script>
}
