@model  MvcProject.LiveChat.LiveChatModel
@using Utilities;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:admins" content="" />

    <!-- Favicon -->
    @*<link rel="icon" href="/img/favicon.png?v=1.2" type="image/x-icon">
        <link rel="shortcut icon" href="/img/favicon.png?v=1.2" type="image/x-icon">
        <link rel="apple-touch-icon" href="/img/favicon.png?v=1.2">*@

    <!-- social network metas -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Live Chat" />
    <meta property="og:url" content="" />
    <meta property="image" content="" />
    <meta property="og:image" content="" />
    <meta property="site_name" content="" />
    <meta property="description" content="" />

    <title>Live chat</title>
    <link rel="stylesheet" href="~/Content/Admin/font-awesome.css">
    <link rel="stylesheet" href="~/Content/Admin/ionicons.css">
    <link rel="stylesheet" href="~/Content/Admin/bootstrap.min.css">
    <link rel="stylesheet" href='~/Content/comfortaa.css'>
    <link rel="stylesheet" href="~/Content/Admin/live-chat.css">
    <script src="~/Scripts/Admin/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Admin/live-chat.min.js"></script>
</head>
<body class="">
    <section id="direct-chat" live-chat-display>
        <!-- DIRECT CHAT -->
        @*<div class="box box-primary box-solid direct-chat direct-chat-primary" box-chatwindow>
        <div class="box-header">
            <h3 class="box-title">Direct Chat in a Solid Box</h3>
            <div class="box-tools pull-right">
                <span data-toggle="tooltip" title="3 New Messages" class="badge bg-light-blue">3</span>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                    <i class="fa fa-comments"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages">
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Alexander Pierce</span>
                        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                    </div><!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="https://adminlte.io/themes/AdminLTE/dist/img/user1-128x128.jpg" alt="message user image">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        Is this template really for free? That's unbelievable!
                    </div><!-- /.direct-chat-text -->
                </div><!-- /.direct-chat-msg -->
                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-right">Sarah Bullock</span>
                        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                    </div><!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="https://adminlte.io/themes/AdminLTE/dist/img/user1-128x128.jpg" alt="message user image">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        You better believe it!
                    </div><!-- /.direct-chat-text -->
                </div><!-- /.direct-chat-msg -->
            </div><!--/.direct-chat-messages-->
            <!-- Contacts are loaded here -->
            <div class="direct-chat-contacts">
                <ul class="contacts-list">
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="/themes/AdminLTE/dist/img/user1-128x128.jpg" alt="Contact Avatar">
                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                    Count Dracula
                                    <small class="contacts-list-date pull-right">2/28/2015</small>
                                </span>
                                <span class="contacts-list-msg">How have you been? I was...</span>
                            </div><!-- /.contacts-list-info -->
                        </a>
                    </li><!-- End Contact Item -->
                </ul><!-- /.contatcts-list -->
            </div><!-- /.direct-chat-pane -->
        </div><!-- /.box-body -->
        <div class="box-footer">
            <form action="#" method="post">
                <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-flat">Send</button>
                    </span>
                </div>
            </form>
        </div><!-- /.box-footer-->
        </div>*@<!--/.direct-chat -->
        <!-- List support -->
        <div class="box box-primary box-solid direct-chat direct-chat-primary" box-support>
            <div class="box-header">
                <h3 class="box-title"><i class='fa fa-comments animate-flicker'></i>Hỗ trợ trực tuyến</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body" style="display:none">
                <div class="direct-chat-messages">
                    @if (Model != null && Model.UserInLiveChatParam.UserInLiveChatEntitys != null && Model.UserInLiveChatParam.UserInLiveChatEntitys.Any())
                    {
                        for (int i = 0; i < Model.UserInLiveChatParam.UserInLiveChatEntitys.Count; i++)
                        {
                            var item = Model.UserInLiveChatParam.UserInLiveChatEntitys[i];
                            if (string.IsNullOrEmpty(item.Avatar)) { item.Avatar = "/Image/Admin/default-avatar.jpg"; };
                            <div class="direct-chat-msg" support-persion onclick="openWindow(this)" data-online="false" data-uname="@item.UserName.ToKoDauAndGach()" data-supportname="@item.Name">
                                <img class="direct-chat-img" src="@item.Avatar.ChangeThumbSize(500,500)" alt="message user image">
                                <div class="direct-chat-support-name">
                                    @item.Name
                                </div><!-- /.direct-chat-support-name -->
                                <span class="direct-chat-status">

                                </span><!-- /.direct-chat-status -->
                            </div><!-- /.direct-chat-msg -->
                        }
                    }
                </div><!--/.direct-chat-messages-->
            </div><!-- /.box-body -->
            <div class="box-footer" style="display:none">
                <span style="display: block; font-size: 12px; line-height: 67px;">Copyrights © 2019 by <a href="https://www.facebook.com/buitoan08" target="_blank">Toan Bui</a></span>
            </div><!-- /.box-footer-->
        </div><!--/.List support -->
        <!-- Box register -->
        <div class="box box-primary box-solid direct-chat direct-chat-primary" box-register>
            <div class="box-header">
                <h3 class="box-title">Đăng kí thông tin</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-footer">
                @using (Html.BeginForm("Register", "LiveChat", FormMethod.Post, new { @class = "", @data_parsley_type = "", id = "frRegister", @role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.LiveChatUser.Name, new { @Required = "Required", @class = "form-control", @placeholder = "Nhập tên" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.LiveChatUser.Email, new { @Required = "Required", @class = "form-control", @placeholder = "Nhập Email" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.LiveChatUser.PhoneNumber, new { @class = "form-control", @placeholder = "Nhập số điện thoại", onkeypress = "return event.charCode >= 48 && event.charCode <= 57" })
                    </div>
                    <button type="button" onclick="sendRegister('/front/LiveChat/Register');" class="btn btn-primary m-r-10">Đăng kí</button>
                    <button type="reset" class="btn btn-danger" onclick="document.getElementsByClassName('register')[0].style.display = 'none';document.getElementsByClassName('list-support')[0].style.display = 'block';">Hủy</button>
                }
            </div><!-- /.box-body -->
        </div><!--/.Box register -->
        <form id="frmAttach" enctype="multipart/form-data" role="form" method="post">
            <input type="file" style="display:none" id="fileInput" name="fileInput">
            <input type="hidden" id="hdGroup" name="hdGroup" value="" />
        </form>
    </section>
    <!-- Scripts -->
    <script src="~/Scripts/Admin/adminlte.js"></script>
</body>
</html>
