@model Entities.Param.ProductParam
@using Utilities

<div id="PageContainer" class="is-moved-by-drawer cart-page-container">
    <main class="main-content" role="main">
        <div id="page-wrapper">
            <div class="wrapper">
                <div class="inner">
                    @if (Model != null && Model.ProductInCarts != null)
                    {

                        <h1>Giỏ hàng</h1>
                        using (Html.BeginForm("Create", "Cart", FormMethod.Post, new { @class = "cart table-wrap medium--hide small--hide", @data_parsley_type = "", id = "frCart", @role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.TotalPriceInCart)
                            <table class="cart-table full table--responsive">
                                <thead class="cart__row cart__header-labels">
                                    <tr>
                                        <th colspan="2" class="text-center">Thông tin chi tiết sản phẩm</th>
                                        <th class="text-center">Đơn giá</th>
                                        <th class="text-center">Số lượng</th>
                                        <th class="text-right">Tổng giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.ProductInCarts.Count; i++)
                                    {
                                        var item = Model.ProductInCarts[i];
                                        @Html.HiddenFor(x => x.ProductInCarts[i].Id)
                                        @Html.HiddenFor(x => x.ProductInCarts[i].Price)
                                        @Html.HiddenFor(x => x.ProductInCarts[i].FirstAvatar)
                                        @Html.HiddenFor(x => x.ProductInCarts[i].Name)
                                        @Html.HiddenFor(x => x.ProductInCarts[i].TotalPrice)
                                        <tr class="cart__row table__section">
                                            <td data-label="Sản phẩm">
                                                <a href="javascript:;" rel="nofollow" class="cart__image">
                                                    <img src="@item.FirstAvatar.ChangeThumbSize(200,0)" alt="@item.Name.EncodeTitle()">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:;" rel="nofollow" class="h4">
                                                    @item.Name
                                                </a>
                                                <a href="javascript:;" rel="nofollow" class="cart__remove">
                                                    <small>Xóa</small>
                                                </a>
                                            </td>
                                            <td data-label="Đơn giá">
                                                <span class="h3 currency-format">
                                                    @item.Price
                                                </span>
                                            </td>
                                            <td data-label="Số lượng">
                                                <div class="js-qty">
                                                    <button type="button" onclick="changeQuantity(this,'','td','.js-qty__num')" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="" data-qty="2">
                                                        <span class="icon icon-minus" aria-hidden="true"></span>
                                                        <span class="fallback-text" aria-hidden="true">−</span>
                                                        <span class="visually-hidden">Giảm số lượng sản phẩm đi 1</span>
                                                    </button>
                                                    @Html.TextBoxFor(x => x.ProductInCarts[i].Number, new { @class = "js-qty__num", @placeholder = "", onkeypress = "return event.charCode >= 48 && event.charCode <= 57" })
                                                    <button type="button" onclick="changeQuantity(this,'add','td','.js-qty__num')" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="" data-qty="31">
                                                        <span class="icon icon-plus" aria-hidden="true"></span>
                                                        <span class="fallback-text" aria-hidden="true">+</span>
                                                        <span class="visually-hidden">Tăng số lượng sản phẩm lên 1</span>
                                                    </button>
                                                </div>
                                            </td>
                                            <td data-label="Tổng giá" class="text-right">
                                                <span class="h3 currency-format">
                                                    @item.TotalPrice
                                                </span>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <div class="grid cart__row">

                                <div class="grid__item two-thirds small--one-whole">
                                    <label for="CartSpecialInstructions">Chú thích cho chủ cửa hàng</label>
                                    <textarea name="note" class="input-full" id="CartSpecialInstructions"></textarea>
                                </div>

                                <div class="grid__item text-right one-third small--one-whole">
                                    <p>
                                        <span class="cart__subtotal-title">Tổng tiền</span>
                                        <span class="h3 cart__subtotal currency-format">@Model.TotalPriceInCart</span>
                                    </p>


                                    <button type="button" onclick="updateCartMutiView('/front/Cart/UpdateMultiView','#frCart')" name="update" on class="btn update-cart">Cập nhật</button>
                                    <button type="button"  onclick="window.location.href ='/dat-hang.html'" name="checkout" class="btn">Thanh toán</button>
                                </div>
                            </div>
                        }
                        using (Html.BeginForm("Create", "Cart", FormMethod.Post, new { @class = "cart table-wrap large--hide", @data_parsley_type = "", id = "frCartMobile", @role = "form" }))
                        {
                            @Html.HiddenFor(x => x.TotalPriceInCart)
                            @Html.AntiForgeryToken()

                            for (int i = 0; i < Model.ProductInCarts.Count; i++)
                            {
                                var item = Model.ProductInCarts[i];
                                @Html.HiddenFor(x => x.ProductInCarts[i].Id)
                                @Html.HiddenFor(x => x.ProductInCarts[i].Price)
                                @Html.HiddenFor(x => x.ProductInCarts[i].FirstAvatar)
                                @Html.HiddenFor(x => x.ProductInCarts[i].Name)
                                @Html.HiddenFor(x => x.ProductInCarts[i].TotalPrice)
                                <div class="grid cart-item mg-left-0">
                                    <div data-label="Sản phẩm" class="grid__item medium--one-third small--one-third pd-left0">
                                        <a href="javascript:;" rel="nofollow" class="cart__image">
                                            <img src="@item.FirstAvatar.ChangeThumbSize(200,0)" alt="@item.Name.EncodeTitle()">
                                        </a>
                                    </div>
                                    <div class="grid__item medium--two-thirds small--two-thirds pd-left15">
                                        <a href="javascript:;" rel="nofollow" class="h4">
                                            @item.Name
                                        </a>
                                        <div data-label="Số lượng">
                                            <div class="js-qty">
                                                <button type="button" onclick="changeQuantity(this,'','.grid__item','.js-qty__num')" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="" data-qty="2">
                                                    <span class="icon icon-minus" aria-hidden="true"></span>
                                                    <span class="fallback-text" aria-hidden="true">−</span>
                                                    <span class="visually-hidden">Giảm số lượng sản phẩm đi 1</span>
                                                </button>
                                                @Html.TextBoxFor(x => x.ProductInCarts[i].Number, new { @class = "js-qty__num", @placeholder = "", onkeypress = "return event.charCode >= 48 && event.charCode <= 57" })
                                                <button type="button" onclick="changeQuantity(this,'add','.grid__item','.js-qty__num')" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="" data-qty="31">
                                                    <span class="icon icon-plus" aria-hidden="true"></span>
                                                    <span class="fallback-text" aria-hidden="true">+</span>
                                                    <span class="visually-hidden">Tăng số lượng sản phẩm lên 1</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div data-label="Đơn giá" class="price">
                                            <span class="h3 currency-format">
                                                @item.Price
                                            </span>
                                        </div>
                                        <a href="" class="cart__remove">
                                            <small>Xóa</small>
                                        </a>
                                    </div>
                                </div>
                            }

                            <div class="grid cart__row">

                                <div class="grid__item two-thirds small--one-whole">
                                    <label for="CartSpecialInstructions">Chú thích cho chủ cửa hàng</label>
                                    <textarea name="note" class="input-full" id="CartSpecialInstructions"></textarea>
                                </div>

                                <div class="grid__item text-right one-third small--one-whole">
                                    <p>
                                        <span class="cart__subtotal-title">Tổng tiền</span>
                                        <span class="h3 cart__subtotal currency-format">@Model.TotalPriceInCart</span>
                                    </p>


                                    <button type="button" onclick="updateCartMutiView('/front/Cart/UpdateMultiView','#frCartMobile')" name="update" class="btn update-cart">Cập nhật</button>
                                    <button type="button" onclick="window.location.href ='/dat-hang.html'" name="checkout" class="btn">Thanh toán</button>
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
        </div>
    </main>
</div>